<ion-content [ngStyle]="{'background':'none'}" fullscreen>
  <div class="background" alt="" ></div>
  <div class="middle">
    <img src="../../assets/icon/logo.png" alt="" class="logo" />
    <ion-list [ngStyle]="{'background':'none'}">
      <ion-item [ngStyle]="{'background':'none'}">
        <ion-label color="primary" position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item [ngStyle]="{'background':'none'}">
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input type="text" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </ion-list>
    <p class="text-center">{{errorMsg}}</p>
  </div>
</ion-content>
<ion-footer [ngStyle]="{'background':'none'}">
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button expand="block" fill="clear" (click)="login()">Login</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button expand="block" fill="clear" (click)="signup()">Signup</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>


