<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">New Event ({{area}})</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-thumbnail *ngIf="thumbnail">
      <img src="../../assets/media/landing-bg.png">
    </ion-thumbnail>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-button expand="full" fill="solid" (click)="uploadThumbnail()"><ion-icon name="camera"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Name" [ngModel]="event.name"></ion-input>
    </ion-item>
    <ion-item>

      <ion-textarea rows="6" type="text" placeholder="Description" [ngModel]="event.description"></ion-textarea>
    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Tags" [ngModel]="event.name"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" fill="outline" (click)="createEvent()">Bring to life!</ion-button>
</ion-footer>
