<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">New Event ({{area}})</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="text-center" style="color:#2582fc">Just know.. there is no start or endtime to events! Your responsible for starting the fun and ending the fun! Its all in your control.</p>
  <ion-item>
    <ion-thumbnail *ngIf="thumbnail">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Upload A Thumbnail</ion-label>
      <ion-button expand="full" fill="clear" (click)="uploadThumbnail()"><ion-icon name="camera" slot="icon-only"></ion-icon></ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [ngModel]="event.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea rows="6" type="text" [ngModel]="event.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tags</ion-label>
      <ion-input type="text" [ngModel]="event.name"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="full" fill="outline" (click)="createEvent">Bring to life!</ion-button>
</ion-footer>
